.record {
    margin-bottom: 20px;
}

.record div {
    float: left;
    padding-top: 16px;
}

.session {
    padding-right: 40px;
    padding-left: 10px;
}

.record .cinema {
    float: right;
    padding: 10px 40px;
    margin: 5px;
    background-color: indianred;
}

ul {
    list-style-type: none;
    width: 700px;
    font-family: Arial;
    font-size: 20px;
}

ul li {
    padding-bottom: 53px;
    background-color: limegreen;
}