li {
    list-style-type: none;
    padding: 5px;
    margin: 35px;
    width: 650px;
    /*border-width: medium;
    border-style: solid;
    border-color: darkred;*/
}
.session {
    float: left;
    width: 50px;
    padding-left: 10px;
}
.name {
    width: 300px;
    float:left;
    text-align: center;
}
.cinema {
    float: right;
    padding-right: 10px;
}