<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<script type="text/template" id="movie-tmpl">
    <%= session %> <%= name %> <%= cinema %>
</script>
<script src="../../static/js/jquery-1.11.2.min.js"></script>
<script src="../../static/js/underscore-min.js" type="text/javascript"></script>
<script src="../../static/js/backbone-min.js" type="text/javascript"></script>
<script src="../../static/js/main.js" type="text/javascript"></script>
<script src="../../static/js/model.js" type="text/javascript"></script>
<script src="../../static/js/view.js" type="text/javascript"></script>
<script src="../../static/js/collection.js" type="text/javascript"></script>
<body>

<script>
    var movies = new App.Collections.MovieCollection();
    movies.fetch().then(function() {
        var moviesView = new App.Views.MoviesView({collection: movies});
        $(document.body).append(moviesView.render().el);
    });
</script>


</body>
</html>