<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<script type="text/template" id="movie-tmpl">
    <%= name %> - <%= duration %>
</script>
<script src="../../static/js/jquery-1.11.2.min.js"></script>
<script src="../../static/js/underscore-min.js" type="text/javascript"></script>
<script src="../../static/js/backbone-min.js" type="text/javascript"></script>
<script src="../../static/js/main.js" type="text/javascript"></script>
<script src="../../static/js/model.js" type="text/javascript"></script>
<script src="../../static/js/view.js" type="text/javascript"></script>
<script src="../../static/js/collection.js" type="text/javascript"></script>
<body>

<script>
    var movie = new App.Models.Movie();
    var view = new App.Views.MovieView({model: movie});
    view.render();
    console.log(view);
    var collection = new App.Collections.MovieCollection();
    collection.add(movie);
    console.log(collection.at(0));
</script>
</body>
</html>